* {
	box-sizing: border-box;
}
body {
	background-color: rgb(251, 248, 248);
}
.primary {
	background-color: #00b894;
}
.secondary {
	background-color: white;
}
.accent {
	background-color: #6bb4b4;
}
.action {
	background-color: #314866;
}

.text-black {
	color: black;
}
.text-white {
	color: white;
}
.text-green {
	color: #00b894;
}
.font-large {
	font-size: larger;
}
.height-full {
	height: 70vh;
}
.shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.red {
	color: red;
}

/* Mobile*/
@media (max-width: 600px) {
	body {
		padding: 30px;
		margin: 0 auto;
		max-width: 100%;
	}
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
	body {
		padding: 40px;
		margin: 0 auto;
		max-width: 100%;
	}
}

/* PC */
@media (min-width: 1025px) {
	body {
		padding: 40px;
		margin: 0 auto;
		max-width: 100%;
	}
}
