.history-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
   margin: 2rem;
  }
  
  /* .history-card .card-content {
    margin-bottom: 0.5rem;
  }
  
  .history-card h2 {
    margin-bottom: 1rem;
  }
  
  .history-card p {
    margin-bottom: 0.5rem;
  } */
  